.background{
    width: 100%;
    height: 100vh;
    background: url("img/bacgroung.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x: hidden;
    position: absolute;
}

.ninja{
    width: 6%;
    position: absolute;
    top: 470px;
    left: 2%;
    z-index: 2;
}

.box{
    width: 200px;
    height: 200px;
    background: url("img/AgitatedBoringEchidna-max-1mb.gif");
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 520px;
}