.background{
    width: 100%;
    height: 100vh;
    background: url("img/bacgroung.jpg");
    background-size: cover;
    background-repeat: repeat-x;
}

.ninja{
    width: 6%;
    position: absolute;
    top: 470px;
    left: 2%;
}